<mat-card-content>

  <div style="overflow: hidden;" class="table-responsive m-t-30">
    <ng-scrollbar [track]="'all'" class="position-relative" style="height:calc(100vh - 200px)">
      <mat-table mat-table [dataSource]="data" class="w-100">
        <!-- Position Column -->
        <ng-container *ngIf="typeTable==='associate'" matColumnDef="associate">
          <mat-header-cell style="max-width: 800px; width: 700px;" *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Asociado
          </mat-header-cell>

          <mat-cell  class="p-16 p-l-0" *matCellDef="let element">
            <div >
              <div class="d-flex align-items-center w-100">
                <img [src]="element.documentPicture" alt="users" width="40" class="rounded-circle" />
                <div class="m-l-16">
                  <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                    {{ element.name }}
                  </h6>
                  <span class="mat-body-1 f-s-12">
                    {{ element.surnames }}
                  </span>
                </div>
              </div>
            </div>
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Cliente
          </mat-header-cell>

          <mat-cell class="p-16 p-l-0" *matCellDef="let element">
            <div class="d-flex align-items-center">

              <div class="m-l-16">
                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                  {{ element.name }}
                </h6>
              </div>
            </div>
          </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="identity">
          <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            No Identidad
          </mat-header-cell>
          <mat-cell class="p-16" *matCellDef="let element" class="mat-body-1">
            {{ element.identity }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="identityType">
          <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Tipo de Identificación
          </mat-header-cell>
          <mat-cell class="p-16" *matCellDef="let element" class="mat-body-1">
            {{ element.identityType }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 text-right p-r-0">
            Código
          </mat-header-cell>
          <mat-cell class="p-16 mat-body-1 p-r-0 text-right" *matCellDef="let element">
            {{ element.code }}</mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Estado
          </mat-header-cell>
          <mat-cell class="p-16" *matCellDef="let element">
            <ng-template [ngIf]="element.status === 'ACTIVE'">
              <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.status | titlecase }}
              </span>
            </ng-template>

            <ng-template [ngIf]="element.status === 'INACTIVE'">
              <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.status | titlecase }}
              </span>
            </ng-template>
            <!--
        <ng-template [ngIf]="element.priority == 'moderate'">
          <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
            {{ element.priority | titlecase }}
          </span>
        </ng-template>-->
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="admisissionDate">
          <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 text-right p-r-0">
            F. Admisión
          </mat-header-cell>
          <mat-cell class="p-16 mat-body-1 p-r-0 text-right" *matCellDef="let element">
            {{ element.admisissionDate }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="industrySector">
          <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Sector Industrial
          </mat-header-cell>
          <mat-cell class="p-16" *matCellDef="let element" class="mat-body-1">
            {{ element.industrySector }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="clientType">
          <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Tipo de Cliente
          </mat-header-cell>
          <mat-cell class="p-16" *matCellDef="let element" class="mat-body-1">
            {{ element.clientType }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 text-right p-r-0">
            Acción
          </mat-header-cell>
          <mat-cell class="p-16 mat-body-1 p-r-0 text-right" *matCellDef="let element">
            <!--
        <a (click)="EditUser(element.code)" class="m-r-10 cursor-pointer"
          ><i-tabler name="edit" class="icon-18"></i-tabler
        ></a>-->
            <a role="button" aria-disabled="true" (keyup.enter)="SeeUser(element)" (click)="SeeUser(element)" class="m-r-10 cursor-pointer">
              <i-tabler name="eye" class="icon-18"></i-tabler>
            </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </ng-scrollbar>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

  </div>
</mat-card-content>