<div class="row">
    <div class="col-sm-5">
        <mat-card class="cardWithShadow card2 position-relative card-hover cursor-pointer">
            <img mat-card-image src="/assets/images/profile/user-1.jpg" alt="Photo of a Shiba Inu" />
            <mat-card-content class="p-y-24">
                <div class="row d-flex align-items-center justify-content-center m-t-24">
                    <div class="col">
                        <div class="m-t-24">
                            <div class="file-input-box"  role="button" aria-disabled="true" (keyup.enter)="fileInput.click()"  (click)="fileInput.click()">
                                <input accept=".pdf , .png , .jpg" type="file" #fileInput />
                                <button mat-flat-button color="primary" class="m-r-8">
                                    Subir
                                </button>
                            </div>
                        </div>
                        <span class="f-s-14 m-t-24 d-block">Válido JPG o PNG. Tamaño máximo de 800K</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6">
        <mat-card class="cardWithShadow">
            <mat-card-content class="p-y-24">
                <mat-card-title class="mat-headline-6 m-t-15 p-14 d-flex">
                    <h4> MRT 123456</h4> <mat-chip
                        class="f-s-12 m-y-16 f-w-600 bg-success m-auto justify-content-end">Activa</mat-chip>
                </mat-card-title>
                <form [formGroup]="updateFormGroup" class="m-t-14">
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <input type="text" matInput required autocomplete="off" id="name" name="name" placeholder="Nombre" />
                                <mat-hint *ngIf="f['name'].touched && f['name'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['name'].errors && f['name'].errors['required']">
                                        Este campo es obligatorio.
                                    </div>
                                    <div class="text-error" *ngIf="f['name'].errors && f['name'].errors['minlength'] ">
                                        Debe tener mínimo 4 caracteres.
                                    </div>
                                    <div class="text-error" *ngIf="f['name'].errors && f['name'].errors['pattern']">
                                        Solo acepta caracteres alfabéticos.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 m-b-16">
                            <mat-form-field appearance="outline" class="w-100">
                                <input formControlName="code" type="text" matInput required id="code" name="code"
                                    placeholder="Código" />
                                <mat-hint *ngIf="f['code'].touched && f['code'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['code'].errors && f['code'].errors['required']">
                                        Este campo es obligatorio.
                                    </div>
                                    <div class="text-error" *ngIf="f['code'].errors && f['code'].errors['minlength'] ">
                                        Debe tener mínimo 6 caracteres.
                                    </div>
                                    <div class="text-error" *ngIf="f['code'].errors && f['code'].errors['pattern']">
                                        Solo acepta caracteres alfanúmericos.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 hide-hint">
                                <mat-select placeholder="Tipo de Bodega" formControlName="warehouseType" required [value]="''">
                                    <mat-option *ngFor="let item of warehouseTypes" [value]="item" selected>{{ item
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 m-t-16">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Fecha de Operación</mat-label>
                                <input formControlName="date" [matDatepicker]="picker" placeholder="Inicio de Operación"
                                    id="operationStartDate" name="operationStartDate" matInput required />
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <input type="text" matInput required id="contactName" name="contactName"
                                    placeholder="Nombre de Contacto" />
                                <mat-hint *ngIf="f['contactName'].touched && f['contactName'].invalid"
                                    class="m-b-16 error-msg">
                                    <div class="text-error"
                                        *ngIf="f['contactName'].errors && f['contactName'].errors['required']">
                                        Este campo es obligatorio.
                                    </div>
                                    <div class="text-error"
                                        *ngIf="f['contactName'].errors && f['contactName'].errors['minlength'] ">
                                        Debe tener mínimo 4 caracteres.
                                    </div>
                                    <div class="text-error"
                                        *ngIf="f['contactName'].errors && f['contactName'].errors['pattern']">
                                        Solo acepta caracteres alfabéticos.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <input placeholder="Teléfono" matInput formControlName="phoneNumber" />
                                <mat-hint *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid"
                                    class="m-b-16 error-msg">
                                    <div class="text-error"
                                        *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors['minlength'] ">
                                        Debe tener mínimo 4 caracteres.
                                    </div>
                                    <div class="text-error"
                                        *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors['pattern']">
                                        Solo acepta caracteres númericos.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <input formControlName="collaboratorId" type="text" matInput required
                                    id="collaboratorId" name="collaboratorId" placeholder="Código Colaborador" />
                                <mat-hint *ngIf="f['collaboratorId'].touched && f['collaboratorId'].invalid"
                                    class="m-b-16 error-msg">
                                    <div class="text-error"
                                        *ngIf="f['collaboratorId'].errors && f['collaboratorId'].errors['required']">
                                        Este campo es obligatorio.
                                    </div>
                                    <div class="text-error"
                                        *ngIf="f['collaboratorId'].errors && f['collaboratorId'].errors['minlength'] ">
                                        Debe tener mínimo 4 caracteres.
                                    </div>
                                    <div class="text-error"
                                        *ngIf="f['collaboratorId'].errors && f['collaboratorId'].errors['pattern']">
                                        Solo acepta caracteres alfanúmericos.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <input type="text" matInput required id="lat" name="lat" placeholder="Latitud" />
                                <mat-hint *ngIf="f['lat'].touched && f['lat'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['lat'].errors && f['lat'].errors['required']">
                                        Este campo es obligatorio.
                                    </div>
                                    <div class="text-error" *ngIf="f['lat'].errors && f['lat'].errors['minlength'] ">
                                        Debe tener mínimo 4 caracteres.
                                    </div>
                                    <div class="text-error" *ngIf="f['lat'].errors && f['lat'].errors['pattern']">
                                        Solo acepta caracteres númericos.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <input type="text" matInput required id="lng" name="lat" placeholder="Longitud" />
                                <mat-hint *ngIf="f['lat'].touched && f['lng'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['lng'].errors && f['lng'].errors['required']">
                                        Este campo es obligatorio.
                                    </div>
                                    <div class="text-error" *ngIf="f['lng'].errors && f['lng'].errors['minlength'] ">
                                        Debe tener mínimo 4 caracteres.
                                    </div>
                                    <div class="text-error" *ngIf="f['lng'].errors && f['lng'].errors['pattern']">
                                        Solo acepta caracteres númericos.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <textarea placeholder="Dirección" rows="5" matInput
                                    formControlName="address"></textarea>
                                <mat-hint *ngIf="f['address'].touched && f['address'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error"
                                        *ngIf="f['address'].errors && f['address'].errors['minlength'] ">
                                        Debe tener mínimo 10 caracteres.
                                    </div>
                                    <div class="text-error"
                                        *ngIf="f['address'].errors && f['address'].errors['pattern']">
                                        Solo acepta caracteres alfanúmericos.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Estado
                            </mat-label>
                            <mat-form-field appearance="outline" class="w-100 hide-hint">
                                <mat-select placeholder="Estado" required [value]="statusW">
                                    <mat-option *ngFor="let item of status" [value]="item" selected>{{ item
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="text-right p-24 p-t-10 m-t-10">
                    <div class="row justify-content-end">
                        <button mat-flat-button color="primary" class="m-r-8">Guardar</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>