<mat-form-field appearance="outline" class="w-100 hide-hint primary" (click)="openModal()">
    <mat-label>Materiales</mat-label>
    <input readonly="true" matInput [value]="valueMaterial" />
    <mat-icon matSuffix>
        <i-tabler name="building-warehouse" class="icon-20"></i-tabler>
    </mat-icon>
</mat-form-field>
<div *ngIf="opened === true" class="modal-material">
    <div class="modal-material-content">
        <div class="row p-20">
            <div class="col">
                <h3 class="modal-material-content__title-modal">Materiales</h3>
            </div>
            <div class="col end modal-material-content__icon">
                <i-tabler (click)="openModal()" name="x" class="icon-24"></i-tabler>
            </div>
        </div>
        <div class="row p-16">
            <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Buscar Material" [formControl]="searchTerm" />
                    <mat-icon matSuffix>
                        <i-tabler name="search" class="icon-20"></i-tabler>
                    </mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="row  modal-material-content__card-material">
            <div class="col">
                <ng-scrollbar class="position-relative" style="height:calc(100vh - 200px)">
                    <div scrollViewport class="row  modal-material-content__card-material__body"
                        *ngFor="let material of filterMaterial">
                        <mat-card class="cardWithShadow">
                            <mat-card-content>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <img [src]="material.img" alt="users" width="48" class="rounded" />
                                        <div class="m-l-16">
                                            <h6 class="f-s-14 mat-subtitle-1 f-w-600">
                                                {{ material.name }} - {{material.code}}
                                            </h6>
                                            <div class="row m-l-6">
                                                <span class="mat-body-1 f-s-12 m-l-16">
                                                    <i-tabler name="currency-dollar" class="icon-14 m-r-4"></i-tabler>
                                                    {{ material.purchasePrice }}
                                                </span>
                                                <span class="mat-body-1 f-s-12 m-l-16">
                                                    <i-tabler name="blockquote" class="icon-14 m-r-4"></i-tabler>
                                                    {{ material.description }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <button color="basic" style="box-shadow: none;" (click)="sendMaterial(material)"
                                        mat-mini-fab class="m-l-auto">
                                        <i-tabler color="primary" name="circle-plus" class="icon-18"></i-tabler>
                                    </button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </ng-scrollbar>
            </div>
        </div>
    </div>
</div>